  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p><b>Ask, Share, Heal : Aarogya Mitra's Promise to You.</b><br>

            At Aarogya Mitra, we believe in the power of asking about your issues, fostering open conversations, and providing convenient solutions for your mental well-being. Join us as we redefine mental health care—where your questions find answers, and your journey towards healing begins..</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>Book Doctor's Appointment</h4>
              <p>Seamlessly schedule appointments with our team of qualified mental health professionals through our user-friendly platform. Aarogya Mitra prioritizes timely access to care, allowing you to book virtual consultations at your convenience.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4>24 Hour Services</h4>
              <p>Aarogya Mitra provides around-the-clock support, ensuring that help is available whenever you need it. Our dedicated team of mental health professionals is on standby, ready to respond to your queries, provide assistance, and offer guidance, ensuring that you are never alone on your journey to mental wellness.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>AI-Powered Chatbot</h4>
              <p>Engage with our cutting-edge AI-powered chatbot, a friendly and intelligent companion available 24/7. Whether you have questions about mental health, need immediate support, or simply want someone to talk to, our chatbot is here to provide instant assistance.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Community Support</h4>
              <p>Join our inclusive and supportive community that understands the importance of shared experiences. Aarogya Mitra fosters a sense of belonging, allowing individuals to connect, share, and support each other on their mental health journeys.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->




